    /* font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif; */
    
     :root {
        --branding-color: #6c63ff;
        --secondary-color: #f9f7fe;
        --default-font-family: 'Poppins', sans-serif;
        --heading-font-family: 'Playfair Display', serif;
    }
    
    body {
        font-family: var(--default-font-family);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: black;
        font-family: var(--heading-font-family);
        font-weight: bold;
    }
    
    p {
        font-weight: normal;
    }
    
    .hero {
        background: var(--secondary-color);
        text-align: center;
        padding: 160px 0;
    }
    
    .hero p {
        font-size: 36px;
        font-weight: bold;
        margin: 0;
        color: #272142;
    }
    
    .hero h1 {
        font-size: 96px;
    }
    
    .hero h2 {
        font-weight: normal;
        font-size: 24px;
        line-height: 2;
    }
    
    .hero .btn-branding {
        color: #fff;
        width: 200px;
        height: 63px;
        background: var(--branding-color);
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        font-size: 18px;
        line-height: 27px;
    }